$brandColor: #ef6f31;
$bgMainColor: #ffffff;
$bgSecondaryColor: #f8f8f8;
$bgBeige: #F5F1ED;
$textPrimaryColor: #3f3a64;
$textSecondaryColor: #696969;
$textPrimaryColorLight: #8C89A2;
$footerTextColor: #ababab;